modules = ["nodejs-20", "python-3.12", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 43760302
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"mit-aia-generator-windows (6)\" && npm run dev"
